<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <title>JOTRON Monitoring</title>

  <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/londinium-theme.css" rel="stylesheet" type="text/css">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!--<link href="/css/icons.css" rel="stylesheet" type="text/css">-->
  <link href="/css/icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/lobibox/lobibox.css">

  <script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/jquery/dist/jquery-ui.min.js"></script>
  <script src="/assets/lobibox/lobibox.min.js"></script>

  <script type="text/javascript" src="/js/plugins/charts/sparkline.min.js"></script>

  <script type="text/javascript" src="/js/plugins/forms/uniform.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/select2.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/autosize.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/inputlimit.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/listbox.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/multiselect.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/validate.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/tags.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/switch.min.js"></script>

  <script type="text/javascript" src="/js/plugins/forms/uploader/plupload.full.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/uploader/plupload.queue.min.js"></script>

  <script type="text/javascript" src="/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
  <script type="text/javascript" src="/js/plugins/forms/wysihtml5/toolbar.js"></script>

  <script type="text/javascript" src="/js/plugins/interface/daterangepicker.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/fancybox.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/moment.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/jgrowl.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/datatables.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/colorpicker.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/fullcalendar.min.js"></script>
  <script type="text/javascript" src="/js/plugins/interface/timepicker.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>


  <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.css" rel="stylesheet" />
  <script data-require="datatables@*" data-semver="1.10.12" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
  <script src='https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js'></script>
  <script src='//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js'></script>



</head>

<body>
<!-- Page container -->
<div class="page-container">

  <%- include partial/nav-bar.ejs %>
  <%- include partial/side-bar.ejs %>

  <!-- Page content -->
  <div class="page-content">

    <!-- Modal  delete-->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal modal-demo" style="width: 30%">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">CONFIRMATION!</h2>
            </div>

            <div class="modal-body with-padding">
              <p>Bạn có muốn xóa thiết bị này không?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary" id="confirm">Đồng ý</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal config tx  -->
    <div id="modal_tx" class="modal fade" role="dialog">
      <div class="modal modal-demo" style="width: 30%">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">CONFIRMATION!</h2>
            </div>

            <div class="modal-body with-padding">
              <p>Are you sure?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary" id="confirm-tx">Đồng ý</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal config rx  -->
    <div id="modal_rx" class="modal fade" role="dialog">
      <div class="modal modal-demo" style="width: 30%">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">CONFIRMATION!</h2>
            </div>

            <div class="modal-body with-padding">
              <p>Are you sure?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary" id="confirm-rx">Đồng ý</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page header -->


    <div style="margin-top: 20px;" class="callout callout-warning fade in">
      <h5 style=" float: left" id="name-mux"><%=result.name%></h5>
    </div>

    <!-- Page tabs -->
    <div class="tabbable page-tabs">
      <ul class="nav nav-tabs">
        <li  class="active" id="get-system" class=""><a href="#card" data-toggle="tab"><i class="icon-disk"></i>System</a></li>
        <li id="get-alarm" class=""><a href="#alarm" data-toggle="tab"><i class="icon-notification"></i>Alarm</a></li>
        <li><a href="#properties" data-toggle="tab"><i class="icon-info2"></i>Properties</a></li>
        <li id="config-device"><a href="#config" data-toggle="tab"><i class="icon-info2"></i>Configuration</a></li>

      </ul>
      <div class="tab-content">
        <!-- First tab -->
        <div style="padding: 0 5%" class="tab-pane fade active in" id="card">
          <div class="panel panel-default">
            <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>Radio Operational State</h6></div>
            <div class="table-responsive">
              <div class="panel-group block" id="tbl-state">
                <table class='table table-bordered' style="border-bottom: 1px solid #ccc;">
                  <thead>
                  <tr>

                  </tr>
                  </thead>
                  <tbody id="body-state">
                  <tr></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--table bit-->
          <div class="panel panel-default">
            <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>BITE measurements</h6></div>
            <div class="table-responsive">
              <div class="panel-group block" id="tbl-bit">
                <table class='table table-bordered' style="border-bottom: 1px solid #ccc;">
                  <tbody id="body-bit">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--table Modulator -->
          <div class="panel panel-default">
            <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>Measurements, Modulator module:</h6></div>
            <div class="table-responsive">
              <div class="panel-group block" id="list-table">
                <table class='table table-bordered' style="border-bottom: 1px solid #ccc;">
                  <tbody id="body-modulator">

                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <!--table Mainboard-->
        </div>
        <!-- /first tab -->

        <!-- Second tab -->
        <div style="padding: 0 10%;" class="tab-pane fade" id="properties">
          <div class="panel panel-default">
            <div class="panel-heading panel-color">
              <h6 class="panel-title"><i class="icon-insert-template"></i>Basic Information</h6>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th style="text-align: left">Property</th>
                  <th style="text-align: left">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Name</td>
                  <td id="mux-name" data-id="<%=result._id%>"><span class="label label-success"><%=result.name%></span></td>
                </tr>
                <tr>
                  <td>IP Address</td>
                  <td id="device-ip"><span class="label label-success"><%=result.ip_address%></span></td>
                </tr>
                <tr>
                  <td>Radio Type</td>
                  <td id=""><span class="label label-success"><%=result.radio_type%></span></td>
                </tr>
                <tr>
                  <td>Serial Number</td>
                  <td id=""><span class="label label-success"><%=result.serial_number%></span></td>
                </tr>

                <tr>
                  <td>Radio ID</td>
                  <td id="radio-id"><span class="label label-success"><%=result.radio_id%></span></td>
                </tr>

                <tr>
                  <td>Software Version ID</td>
                  <td id=""><span class="label label-success"><%=result.sw_version%></span></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="form-actions text-right">
            <input type="submit" id="btn-delete" device-id="<%=result._id%>" value="DELETE DEVICE" class="btn btn-danger"  data-toggle='modal' data-target='#myModal'>
          </div>
        </div>
        <!-- /second tab -->

        <!-- Third tab -->
        <div style="padding: 0 5%" class="tab-pane fade" id="alarm">
          <div class="panel panel-default">
            <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>RADIO ALARM</h6></div>
            <div class="table-responsive">
              <div class="panel-group block" id="tbl-alarm">
                <table class='table table-bordered' style="border-bottom: 1px solid #ccc;">
                  <tbody id="body-alarm">
                  <tr id="noRecordTR" style="display:block">
                    <th  style="text-align: center">PERFECT! There is no ALARM</th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Four tab       -->
        <div style="padding: 0 5%" class="tab-pane fade" id="config">
          <div class="panel panel-default" id="tx-config" style="display: none">
            <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>Configuration TX</h6></div>
            <div class="table-responsive">
              <div class="panel-group block" id="">

                <!--Frequency-->
                <div class="form-group col-sm-12">
                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Frequency(kHz)</label>
                    <div class="col-sm-6">
                      <input id="tx-frequency" required type="number" min="30000" max="300000" name="tx_frequency" class="form-control" placeholder="133650">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">TX Power(dBm)</label>
                    <div class="col-sm-6">
                      <input id="tx-power" required type="number" min="30" max="47" name="tx_power" class="form-control" placeholder="47">
                    </div>
                  </div>

                </div>

                <div class="form-group col-sm-12">
                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Modulation(%)</label>
                    <div class="col-sm-6">
                      <input id="tx-modulation" required type="number" min="5" max="95" name="tx_modulation" class="form-control" placeholder="85">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Low Power Level(dBm)</label>
                    <div class="col-sm-6">
                      <input id="tx-low-power-lv" required type="number" min="30" max="44" name="tx_low_power_lv" class="form-control" placeholder="33">
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-12">
                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Force Alarm</label>
                    <div class="col-sm-6">
                      <select id="tx-force-alarm" data-placeholder="Type" name="tx_force_alarm"
                              class="form-control">
                        <option value="1">ON</option>
                        <option value="2">OFF</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Force Low Power Level</label>
                    <div class="col-sm-6">
                      <select id="tx-force-low" data-placeholder="Type" name="tx_force_low_power"
                              class="form-control">
                        <option value="1">ON</option>
                        <option value="2">OFF</option>
                      </select>
                    </div>
                  </div>
                </div>

                  <div class="form-group col-sm-12">
                      <div class="col-sm-6">
                          <label class="col-sm-4 control-label text-right">Force PTT</label>
                          <div class="col-sm-6">
                              <select id="tx-force-ptt" data-placeholder="Type" name="tx_force_ptt"
                                      class="form-control">
                                  <option value="1">ON</option>
                                  <option value="2">OFF</option>
                              </select>
                          </div>
                      </div>
                  </div>

                <div class="form-group col-sm-12">
                  <input id="btn-config-tx" type="submit" value="SUBMIT" class="btn btn-primary pull-right" data-toggle='modal' data-target='#modal_tx'>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default" id="rx-config" style="display: none;">
            <div class="panel-heading panel-color"><h6 class="panel-title"><i class="icon-insert-template"></i>Configuration RX</h6></div>
            <div class="table-responsive">
              <div class="panel-group block" id="">

                <!--Frequency-->
                <div class="form-group col-sm-12">
                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Frequency(kHz)</label>
                    <div class="col-sm-6">
                      <input id="rx-frequency" required type="number" min="30000" max="300000" name="rx_frequency" class="form-control" placeholder="133650">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">S/N SQ Level</label>
                    <div class="col-sm-6">
                      <input id="rx-sn-sq-level" required type="number" min="30" max="47" name="rx_sq_level" class="form-control" placeholder="12">
                    </div>
                  </div>

                </div>

                <div class="form-group col-sm-12">

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Line Output Level</label>
                    <div class="col-sm-6">
                      <input id="rx-line-out" required type="number" min="30" max="44" name="rx_line_out" class="form-control" placeholder="33">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Force Mute</label>
                    <div class="col-sm-6">
                      <select id="rx-force-mute" data-placeholder="Type" name="rx_force_mute"
                              class="form-control">
                        <option value="1">ON</option>
                        <option value="2">OFF</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group col-sm-12">
                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Force Alarm</label>
                    <div class="col-sm-6">
                      <select id="rx-force-alarm" data-placeholder="Type" name="rx_force_alarm"
                              class="form-control">
                        <option value="1">ON</option>
                        <option value="2">OFF</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">Force SQ</label>
                    <div class="col-sm-6">
                      <select id="rx-force-sq" data-placeholder="Type" name="rx_force_sq"
                              class="form-control">
                        <option value="1">ON</option>
                        <option value="2">OFF</option>
                      </select>
                    </div>
                  </div>
                </div>




                <div class="form-group col-sm-12">
                  <input id="btn-config-rx" type="submit" value="SUBMIT" class="btn btn-primary pull-right" data-toggle='modal' data-target='#modal_rx'>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="default_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">CARD CONFIGURATION</h4>
          </div>

          <div class="modal-body with-padding card-content">

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- /page content -->
</div>

</div>
<!-- /page container -->
<script type="text/javascript" src="/js/core/mux-detail.js"></script>
<script type="text/javascript" src="/js/core/mux-alarm.js"></script>

<script>
  $(function () {


  });
</script>
</body>
</html>